* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#city-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#current-weather {
    text-align: center;
}

#current-weather p {
    margin-bottom: 10px;
}


#forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#forecast-cards {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.forecast-card {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    text-align: center;
}

.forecast-card {
    border: 1px solid black;
    padding: 10px;
}

.forecast-card img {
    width: 50px;
    height: 50px;
}
